.button {
  position: relative;
  padding: 0.5rem 2rem;
  font-size: 1;
  outline: none;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--text-highlight-ghost);
  color: var(--text-highlight);
  cursor: pointer;
  box-shadow: 0 1rem 4rem -1.125rem var(--color-background);
  text-decoration: none;
  filter: brightness(1);
  transition: color 0.2s, box-shadow 0.2s, filter 0.2s;
}

.button:hover {
  filter: brightness(1.1);
  color: var(--text-normal);
  box-shadow: 0 1rem 4rem -1.125rem var(--text-normal);
}

.button:focus-visible {
  box-shadow: 0 0 0 2px #00608d, 0 0 0 4px royalblue;
}
