<article class="career-wrapper">
  <h3 class="text-lg">Mi experiencia como profesional</h3>
  <div class="career-block">
    <div class="career-block-title">
      <span class="date">04/22 - Act.</span>
      <div>
        <span class="career-company">Devsys</span>
        <h4 class="career-job">Frontend Developer | UX/UI</h4>
      </div>
    </div>
    <ul class="career-sib-block-wrapper">
      <li class="career-sub-block">
        <p class="career-sub-block-title">
          Diseñar el nuevo producto de la empresa. Generar su UI Kit,
          componentes y el flow de cada vista.
        </p>
        <p class="career-sub-block-description">
          Esto esclareció la comunicación y la manera de plasmar ideas entre
          equipos de frontend, backend y expertos de negocio. Dió una guía
          visual de hacia dónde ir, cómo enfocar la estructura del producto y
          promovió un flujo de trabajo en donde diseño y desarrollo pudieran
          tener un punto en común. La comunicación entre equipos es fundamental
          y la retroalimentación de conocimientos también, por lo que siento que
          es el punto más destacable de esta etapa.
        </p>
      </li>
      <li class="career-sub-block">
        <p class="career-sub-block-title">
          Crear una librería de componentes interna que respete el nuevo
          branding. Desde el desarrollo, testeo y documentación.
        </p>
        <p class="career-sub-block-description">
          Tener una librería de componentes es fundamental para una empresa de
          producto. Sugerir y desarrollar esta idea fue un gran paso para
          agilizar el desarrollo de nuevos productos y mantener un branding
          consistente. Los retos más destacados fueron generar un bundle óptimo
          para la web, elegir correctamente las tecnologías con las que se iba a
          construir y tomar decisiones sobre su estructura. Descubrí mi pasión
          por crear herramientas de desarrollo que mejoren la experiencia de los
          desarrolladores y agilicen procesos.
        </p>
      </li>
      <li class="career-sub-block">
        <p class="career-sub-block-title">
          Crear un nuevo producto a nivel de Frontend
        </p>
        <p class="career-sub-block-description">
          En este proyecto tuve la oportunidad de trabajar aplicando los
          desarrollos previos de la librería de componentes y seguir los flows
          de diseño. El reto más desafiante fue definir una arquitectura lo
          suficientemente entendible y escalable para el equipo y para el
          producto. Creo que en Frontend una arquitectura ideal es aquella que
          sigue los principios de screaming architecture, y su desarrollo es un
          proceso continuo que se adapta a las necesidades del producto y que
          requiere de muchas iteraciones.
        </p>
      </li>
      <li class="career-sub-block">
        <p class="career-sub-block-title">Liderar capacitaciones técnicas</p>
        <p class="career-sub-block-description">
          Lo que más me entusiasma como profesional de desarrollo es poder
          compartir mis experiencias y mis conocimientos con otros Devs. Ser esa
          ayuda y esa guía que yo tuve cuando empecé a programar. En esta etapa
          tuve la oportunidad de liderar capacitaciones técnicas para el equipo
          de desarrollo, y me permitió mejorar mis habilidades de comunicación,
          de enseñanza, y me dio la oportunidad de re aprender muchas cosas y
          aprender de ellos. Como profesional y sobre todo y mucho más
          importante, como persona.
        </p>
      </li>
    </ul>
  </div>
  <div class="career-block">
    <div class="career-block-title">
      <span class="date">03/21 - 04/22</span>
      <div>
        <span class="career-company">Desarrollo personal</span>
        <h4 class="career-job">Especialización en Frontend</h4>
      </div>
    </div>
    <ul class="career-sib-block-wrapper">
      <li class="career-sub-block">
        <p class="career-sub-block-title">Un año de aprendizaje autodidacta</p>
        <p class="career-sub-block-description">
          Fue un año de aprendizaje autodidacta, en el que me comprometí a
          mejorar mi nivel como desarrollador y evolucionar mis capacidades en
          muchas tecnologías. Como desarrollador, me gusta un concepto llamado
          t-shaped, que es tener una base de conocimientos amplia y profunda
          sobre un rama principal como lo es frontend, y tener conocimientos
          básicos sobre otras ramas como backend, ux/ui, testing, etc. Mi
          aspiración es que los proyectos se formen de un solo equipo en donde
          más allá de las especializaciones de cada miembro, todos puedan
          entender, valorar y apoyar las implementaciones de los demás. Creo que
          aspirar a este concepto es un buen comienzo para materializar esta
          idea y me ayudó a entender y empatizar con cada parte de un proyecto.
        </p>
      </li>
    </ul>
  </div>
  <div class="career-block">
    <div class="career-block-title">
      <span class="date">09/20 - 03/21</span>
      <div>
        <span class="career-company">SuiteDB</span>
        <h4 class="career-job">Frontend Developer</h4>
      </div>
    </div>
    <ul class="career-sib-block-wrapper">
      <li class="career-sub-block">
        <p class="career-sub-block-title">
          Desarrollo de e-commerce para clientes internacionales
        </p>
        <p class="career-sub-block-description">
          En esta etapa tuve la oportunidad de trabajar en proyectos para
          clientes internacionales, me permitió tener contacto con proyectos de
          gran envergadura y con estructuras complejas.
        </p>
      </li>
    </ul>
  </div>
</article>
<style>
  .career-wrapper {
    margin-bottom: 6rem;
    padding: 6rem 0rem;
  }

  .career-block,
  .career-sub-block {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 6rem;
    margin-left: 4rem;
    position: relative;
  }

  .career-sub-block {
    border-left: 1px solid #0d1b2d20;
    position: relative;
  }

  .career-sub-block:first-child {
    padding-top: 0;
  }

  .career-sub-block:last-child {
    padding-bottom: 0;
  }

  .career-sub-block::before {
    content: '';
    position: absolute;
    top: 2.75rem;
    left: 0rem;
    transform: translateX(-50%);
    width: 1rem;
    height: 1rem;
    background-color: #fafafa;
    border: 1px solid #0d1b2d20;
    border-radius: 50%;
  }

  .career-sub-block:first-child::before {
    top: 0.75rem;
  }

  .career-sib-block-wrapper {
    max-width: 800px;
  }

  .career-sub-block-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #94a3b8;
    margin-bottom: 0.5rem;
  }

  .career-company {
    font-size: 0.875rem;
  }

  .career-job {
    font-size: 1.25rem;
    font-weight: 600;
    color: #94a3b8;
  }

  .career-sub-block-description {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .career-block-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
  }

  .date {
    font-size: 1.5rem;
    font-weight: 600;
    color: #94a3b8;
    padding-right: 0.5rem;
    border-right: 1px solid #0d1b2d20;
  }
</style>
