<article class="intro">
  <img
    class="picture"
    src="avatar.png"
    alt="Retrato de Mateo Álvarez | Madeval"
  />
  <div class="intro-description">
    <h3 class="technologies">
      Frontend Developer - JavaScript - React - Next.js - HTML & CSS
    </h3>
    <p class="description">
      Ser el sucesor de quien todo aprendí, y enseñar a quien una vez fui.
    </p>
    <article class="social-contact-box">
      <a
        class="contact-link github"
        href="https://github.com/maadeval"
        target="_blank"
      >
        <img
          class="social-media-image"
          src="github-icon.svg"
          alt="Logo de Github"
        />
        GitHub
      </a>
      <a
        class="contact-link twitter"
        href="https://twitter.com/maadeval"
        target="_blank"
      >
        <img
          class="social-media-image"
          src="twitter-icon.svg"
          alt="Logo de Twitter"
        />
        Twitter
      </a>
      <a
        class="contact-link linkedin"
        href="https://www.linkedin.com/in/maadeval/"
        target="_blank"
      >
        <img
          class="social-media-image"
          src="linkedin-icon.svg"
          alt="Logo de LinkedIn"
        />
        LinkedIn
      </a>
    </article>
  </div>
</article>
<style>
  .picture {
    max-width: 320px;
    aspect-ratio: 1;
    border-radius: 50%;
    filter: drop-shadow(-0.5rem -0.5rem 0 #0f0f12);
    z-index: -1;
    width: 100%;
    aspect-ratio: 1;
  }

  .intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  .intro-description {
    margin-top: 5rem;
  }

  .technologies {
    color: #64748b;
    margin-bottom: 1rem;
  }

  .description {
    font-size: 2rem;
  }

  .social-contact-box {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .contact-link {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    text-decoration: none;
    color: #fff;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    --shadow: #fff;
    box-shadow: 0 0 1rem 0.5rem var(--shadow);
  }

  .contact-link:hover {
    transform: translateY(-0.125rem);
    box-shadow: 0 0.5rem 0.85rem 0.25rem var(--shadow);
  }

  .linkedin {
    background: linear-gradient(90deg, #1896da 0%, #0077b5 100%);
    --shadow: #0077b520;
  }

  .twitter {
    background: linear-gradient(90deg, #1da1f2 0%, #1a91da 100%);
    --shadow: #1a91da20;
  }

  .github {
    background: linear-gradient(90deg, #333 0%, #000 100%);
    --shadow: #00000020;
  }

  .social-media-image {
    width: 1rem;
    height: 1rem;
  }

  @media (min-width: 480px) {
    .description {
      font-size: 3rem;
    }
  }

  @media (min-width: 768px) {
    .intro {
      flex-direction: row;
    }
  }

  @media (min-width: 1024px) {
    .intro {
      gap: 8rem;
    }
  }
</style>
