---
import style from './Divider.module.css'

interface Props {
  width?: number | string
  widthLine?: number | string
  height?: number | string
  className?: string
}
const {
  className,
  width = '100%',
  height = '1px',
  widthLine = '1rem',
} = Astro.props
---

<div
  style={`--width: ${width}; --height: ${height}; --widthLine: ${widthLine}`}
  class={`${style.divider} ${className ?? ''}`}
>
</div>
