.divider {
  width: var(--width);
  height: var(--height);
  background: linear-gradient(
    to right,
    var(--text-highlight),
    var(--text-highlight) 50%,
    transparent 0,
    transparent
  );
  background-size: var(--widthLine) var(--height);
  -webkit-mask: linear-gradient(to right, transparent, #000, transparent);
  mask: linear-gradient(transparent, #000 50%, transparent 0, transparent);
  opacity: 0.4;
}
