---
import Header from '~components/Header/Header.astro'
import Layout from '~layouts/Layout.astro'
---

<Layout>
  <Header />
  <section class="main">
    <div class="background"></div>
    <article class="intro">
      <img class="picture" src="avatar.png" />
      <div class="intro-description">
        <h3 class="technologies">
          Frontend Developer - JavaScript - React - Next.js - HTML & CSS
        </h3>
        <p class="description">
          Ser el sucesor de quien todo aprendí, y enseñar a quien una vez fui.
        </p>
        <article class="social-contact-box">
          <a
            class="contact-link github"
            href="https://github.com/maadeval"
            target="_blank"
          >
            <img src="github-icon.svg" />
            GitHub
          </a>
          <a
            class="contact-link twitter"
            href="https://twitter.com/maadeval"
            target="_blank"
          >
            <img src="twitter-icon.svg" />
            Twitter
          </a>
          <a
            class="contact-link linkedin"
            href="https://www.linkedin.com/in/maadeval/"
            target="_blank"
          >
            <img src="linkedin-icon.svg" />
            LinkedIn
          </a>
        </article>
      </div>
    </article>
    <article class="about-me">
      <div>
        <p class="description-2">
          Desarrollo hace más de dos años y <span class="borderline"
            >formo parte de una comunidad de desarrollo increíble!
            <tool-tip role="tooltip">Agregar contenido aqui</tool-tip>
          </span>
        </p>
        <p class="description-3">
          Lo más importante se hace en comunidad. Ser parte de un grupo de
          grandes personas y desarrolladores me motivado a ser mejor!
        </p>
      </div>
      <div class="brand-effects-wrapper">
        <div class="brand-effects">
          <img src="midu.svg" />
          <img src="discord.svg" />
          <img src="twitter.svg" />
          <img src="midu.svg" />
          <img src="discord.svg" />
          <img src="twitter.svg" />
          <img src="midu.svg" />
          <img src="discord.svg" />
          <img src="twitter.svg" />
          <img src="midu.svg" />
          <img src="discord.svg" />
          <img src="twitter.svg" />
          <img src="midu.svg" />
          <img src="discord.svg" />
          <img src="twitter.svg" />
          <img src="midu.svg" />
          <img src="discord.svg" />
          <img src="twitter.svg" />
          <img src="midu.svg" />
          <img src="discord.svg" />
          <img src="twitter.svg" />
          <img src="midu.svg" />
          <img src="discord.svg" />
          <img src="twitter.svg" />
          <img src="midu.svg" />
          <img src="discord.svg" />
          <img src="twitter.svg" />
          <img src="midu.svg" />
          <img src="discord.svg" />
          <img src="twitter.svg" />
          <img src="midu.svg" />
          <img src="discord.svg" />
          <img src="twitter.svg" />
          <img src="midu.svg" />
          <img src="discord.svg" />
          <img src="twitter.svg" />
          <img src="midu.svg" />
          <img src="discord.svg" />
          <img src="twitter.svg" />
          <img src="midu.svg" />
          <img src="discord.svg" />
          <img src="twitter.svg" />
          <img src="midu.svg" />
          <img src="discord.svg" />
          <img src="twitter.svg" />
          <img src="midu.svg" />
          <img src="discord.svg" />
          <img src="twitter.svg" />
          <img src="midu.svg" />
          <img src="discord.svg" />
          <img src="twitter.svg" />
          <img src="midu.svg" />
          <img src="discord.svg" />
          <img src="twitter.svg" />
          <img src="midu.svg" />
          <img src="discord.svg" />
          <img src="twitter.svg" />
          <img src="midu.svg" />
          <img src="discord.svg" />
          <img src="twitter.svg" />
          <img src="midu.svg" />
          <img src="discord.svg" />
          <img src="twitter.svg" />
          <img src="midu.svg" />
          <img src="discord.svg" />
          <img src="twitter.svg" />
          <img src="midu.svg" />
          <img src="discord.svg" />
          <img src="twitter.svg" />
          <img src="midu.svg" />
          <img src="discord.svg" />
          <img src="twitter.svg" />
        </div>
      </div>
      <span class="bg-rgb"></span>
    </article>
    <article class="ikigai-dev-wrapper">
      <div>
        <p class="description-2">Qué es ser desarrollador</p>
        <p class="description-3 ikigai-dev-description">
          No es programar. Buscamos soluciones a problemas, inquietudes y
          necesidades. Creamos productos, experiencias, sensaciones, y todo eso
          lo hacemos a partir de una herramienta que es el código. Programar
          solo es el medio para lograr lo más importante. Somos artistas que por
          medio de nuestra herramienta transmitimos nuestras ideas a soluciones
          en el mundo real.
        </p>
      </div>
    </article>
  </section>

  <style>
    .background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-image: linear-gradient(to top, #e6e9f0 0%, #fff 100%);
      z-index: -1;
    }

    .main {
      padding-top: 12rem;
    }

    .picture {
      max-width: 320px;
      aspect-ratio: 1;
      border-radius: 50%;
      filter: drop-shadow(-0.5rem -0.5rem 0 #0f0f12);
      z-index: -1;
    }

    .intro {
      display: flex;
      align-items: center;
      gap: 8rem;
    }

    .intro-description {
      margin-top: 5rem;
    }

    .technologies {
      color: gray;
      margin-bottom: 1rem;
    }

    .description {
      font-size: 3rem;
    }

    .social-contact-box {
      margin-top: 3rem;
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .contact-link {
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      background-color: #fff;
      text-decoration: none;
      color: #fff;
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
      --shadow: #fff;
      box-shadow: 0 0 1rem 0.5rem var(--shadow);
    }

    .contact-link:hover {
      transform: translateY(-0.125rem);
      box-shadow: 0 0.5rem 0.85rem 0.25rem var(--shadow);
    }

    .linkedin {
      background: linear-gradient(90deg, #1896da 0%, #0077b5 100%);
      --shadow: #0077b520;
    }

    .twitter {
      background: linear-gradient(90deg, #1da1f2 0%, #1a91da 100%);
      --shadow: #1a91da20;
    }

    .github {
      background: linear-gradient(90deg, #333 0%, #000 100%);
      --shadow: #00000020;
    }

    .about-me {
      margin-top: 20rem;
      margin-bottom: 16rem;
      padding: 6rem 2rem;
      position: relative;
      /* box-shadow: 0 0 3rem 0.5rem #0d1b2d20; */
      background-color: #fafafa;
      /* background-color: #0f0f12; */
      /* color: #fafafa; */
      position: relative;
    }

    .description-2 {
      font-size: 2rem;
      max-width: 40ch;
    }

    .description-3 {
      max-width: 60ch;
      position: relative;
      top: 2rem;
      font-size: 1.25rem;
      color: gray;
    }

    .bg-rgb {
      position: absolute;
      top: 0;
      left: 0;
      inset: 0;
      opacity: 0.5;
      background-image: linear-gradient(
        35deg,
        #fa0,
        #fd66cb 21%,
        #9f6eff 50%,
        #0af 75%,
        #0fa
      );
      z-index: -1;
      filter: blur(32px);
    }

    .brand-effects-wrapper {
      position: absolute;
      top: 0;
      right: 0;
      overflow: hidden;
      width: 30%;
      height: 100%;
    }

    .brand-effects-wrapper::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        35deg,
        #fa0,
        #fd66cb 21%,
        #9f6eff 50%,
        #0af 75%,
        #0fa
      );
      filter: blur(32px);
      opacity: 0.5;
    }

    .brand-effects {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
      transform: translate(41px, -14px) rotate(2deg);
      position: absolute;
      top: 0;
      right: 0;
      width: 120%;
      height: 100%;
    }

    .brand-effects img {
      opacity: 0.1;
      width: 48px;
      height: 48px;
      filter: grayscale(1);
      transition: opacity 0.2s ease-in-out 1s, filter 0.2s ease-in-out 1s;
    }

    .brand-effects img:hover {
      opacity: 0.4;
      filter: grayscale(0.2);
      transition: opacity 0.2s ease-in-out 0s, filter 0.2s ease-in-out 0s;
    }

    .borderline {
      border-bottom: 2px solid #0d1b2d20;
      cursor: help;
      position: relative;
    }

    .borderline:hover [role='tooltip'] {
      opacity: 1;
      visibility: visible;
    }

    [role='tooltip'] {
      position: absolute;
      top: -0.5rem;
      transform: translateY(-100%);
      width: max-content;
      left: 0;
      padding: 0.5rem 1rem;
      background-color: #0d1b2d;
      color: #fafafa;
      border-radius: 0.5rem;
      font-size: 1rem;
      visibility: hidden;
      pointer-events: none;
      user-select: none;
      opacity: 0;
      transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    }

    .ikigai-dev-wrapper {
      margin-bottom: 6rem;
      padding: 6rem 2rem;
      position: relative;
      color: #fafafa;
    }

    .ikigai-dev-wrapper::after {
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 3rem 0.5rem #0d1b2d20;
      background-image: linear-gradient(
        35deg,
        #0d1b2d,
        #000 21%,
        #0d1b2d 50%,
        #000 75%,
        #0d1b2d
      );
    }

    .ikigai-dev-description {
      color: #94a3b8;
      line-height: 1.25;
    }
  </style>
</Layout>
