---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <header>
    <div class='header'>
      <div class='banner'></div>
      <div class='sub-header'>
        <figure class='logo-wrapper'>
          <img class='logo-image' src='/logo.svg' alt='Logo de Madeval' />
          <h2 class='logo-title'>madeval</h2>
        </figure>
        <nav class='navbar'>
          <a class='navbar-option' href='#'>Sobre mi</a>
          <a class='navbar-option' href='#'>Valores</a>
          <a class='navbar-option' href='#'>Experiencia</a>
          <a class='navbar-option' href='#'>Blog</a>
          <a class='navbar-option' href='#'>Proyectos</a>
        </nav>
        <label class='theme-wrapper'>
          Activar modo oscuro
          <input type='checkbox' class='theme-button' />
        </label>
      </div>
    </div>
  </header>
  <main class='main'>
    <section class='main-landing'>
      <div class='avatar-wrapper'>
        <div class='dialog-wrapper'>
          <p class='dialog-message'>Wenasss 👋</p>
          <p class='dialog-message'>Hoy usamos React o Angular? 🤫</p>
        </div>
        <img class='avatar-image' src='/avatar.png' alt='Avatar de Madeval' />
      </div>
      <div>
        <h3 class='subtitle'>Frontend Developer</h3>
        <h2 class='title opacity'>
          Avanzar en comunidad y ayudar a equipos a ser mejores en lo tecnico y
          humano.
        </h2>
        <div class='social-media'>
          <p class='social-text'>Mis redes sociales 👇</p>
          <div class='social-link-wrapper'>
            <a
              class='social-link github'
              href='https://github.com/maadeval'
              target='_blank'
            >
              <img
                class='social-image'
                src='/github-icon.svg'
                alt='github icon'
              />
              GitHub
            </a>
            <a
              class='social-link linkedin'
              href='https://www.linkedin.com/in/maadeval'
              target='_blank'
            >
              <img
                class='social-image'
                src='/linkedin-icon.svg'
                alt='linkedin icon'
              />
              LinkedIn
            </a>
            <a
              class='social-link twitter'
              href='https://twitter.com/maadeval'
              target='_blank'
            >
              <img
                class='social-image'
                src='/twitter-icon.svg'
                alt='twitter icon'
              />
              Twitter
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class='about-me'>
      <h3 class='title'>Hola! Soy <br /> Mateo Álvarez, y...</h3>
      <p class='big-text opacity'>
        cuando no estoy desarrollando me encanta comer y ver peliculas de
        terror!
        <br />Soy del team menta granizada 🍦 y me encanta la música lofi 🎵
      </p>
      <p class='big-text-variant'>
        Disfruto caminar por la rambla, escuchar playlist's y los nuevos podcast
        de @nomedalavidadev. Son geniales!
      </p>
    </section>
  </main>
</Layout>

<style>
  .banner {
    width: 100%;
    height: 2rem;
    background-image: url('/logo-to-banner.svg');
  }
  .header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: var(--color-slate-50);
    z-index: 1;
  }

  .sub-header {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    justify-content: space-between;
    align-items: center;
    max-width: var(--screen-lg);
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 4rem;
  }

  .logo-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    transition: transform 0.25s ease-in-out;
    cursor: pointer;
    margin: 0;
  }

  .logo-wrapper:hover {
    transform: translateY(-0.125rem);
  }

  .logo-image {
    width: 37px;
    height: 37px;
  }

  .logo-title {
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 2.25rem;
    display: block;
  }

  .navbar {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex: 1;
  }

  .navbar-option {
    padding: 0.5rem;
    outline: none;
    text-decoration: none;
    color: var(--color-text);
    font-size: 1.125rem;
    transition: transform 0.25s ease-in-out;
  }

  .navbar-option:hover {
    transform: translateY(-0.125rem);
  }

  .theme-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    font-size: 1.125rem;
    user-select: none;
  }

  .theme-button {
    position: relative;
  }

  .theme-button::before {
    content: '';
    background-repeat: no-repeat;
    background-image: url('/moon.svg');
    background-size: 1rem;
    background-position: center;
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--color-slate-50);
    border: 1px solid var(--color-slate-200);
  }

  .theme-button:checked::before {
    background-image: url('/soon.svg');
  }

  .main {
    min-height: 100vh;
  }

  .main-landing {
    display: flex;
    max-width: var(--screen-lg);
    margin-left: auto;
    margin-right: auto;
    gap: 6.25rem;
    height: 100vh;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .avatar-wrapper {
    display: inline-flex;
    flex-direction: column;
  }

  .avatar-image {
    width: 403px;
    height: 402px;
  }

  .dialog-wrapper {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 0.5rem;
    transform: translateY(-3rem);
  }

  .dialog-message {
    display: inline-block;
    border-radius: 9999px;
    border: 1px solid var(--color-slate-200);
    padding: 0.5rem 1rem;
    background-color: var(--color-slate-50);
  }

  .title {
    font-size: 3rem;
    line-height: 3.25rem;
    font-weight: 400;
    max-width: 28ch;
  }

  .opacity {
    opacity: 0.6;
  }

  .subtitle {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
  }

  .big-text {
    margin-top: 2.5rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    max-width: 38ch;
  }

  .big-text-variant {
    margin-top: 2rem;
    font-size: 2rem;
    line-height: 2.25rem;
    max-width: 40ch;
    opacity: 0.8;
  }

  .social-media {
    margin-top: 2rem;
  }

  .social-text {
    font-size: 1.125rem;
    line-height: 1.75rem;
    opacity: 0.8;
  }

  .social-link-wrapper {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
  }

  .social-link {
    text-decoration: none;
    padding: 1rem;
    border-radius: 9999px;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
    outline: none;
  }

  .social-link:hover,
  .social-link:focus {
    transform: translateY(-0.125rem);
  }

  .social-link:active {
    filter: brightness(0.95);
  }

  .github {
    background-color: var(--color-github-20);
    color: var(--color-github);
  }

  .github:hover,
  .github:focus {
    box-shadow: 0 0 0 0.125rem var(--color-slate-50),
      0 0 0 0.25rem var(--color-github-20);
  }

  .linkedin {
    background-color: var(--color-linkedin-20);
    color: var(--color-linkedin);
  }

  .linkedin:hover,
  .linkedin:focus {
    box-shadow: 0 0 0 0.125rem var(--color-slate-50),
      0 0 0 0.25rem var(--color-linkedin-20);
  }

  .twitter {
    background-color: var(--color-twitter-20);
    color: var(--color-twitter);
  }

  .twitter:hover,
  .twitter:focus {
    box-shadow: 0 0 0 0.125rem var(--color-slate-50),
      0 0 0 0.25rem var(--color-twitter-20);
  }

  .about-me {
    border-top: 1px solid var(--color-slate-200);
    margin-left: auto;
    margin-right: auto;
    max-width: var(--screen-lg);
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 4rem;
  }

  .social-image {
    width: 1.063rem;
    height: 1.063rem;
  }
</style>
