<article class="coming-soon-box">
  <h3 class="coming-soon-text">¡Nuevo contenido próximamente! 🚀</h3>
</article>
<style>
  .coming-soon-box {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 3rem 0.5rem #0d1b2d20;
    padding: 2rem;
    margin-bottom: 6rem;
    text-align: center;
  }

  .coming-soon-text {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
</style>
