<article class="development-box">
  <div>
    <p class="text-heading">Qué es ser desarrollador</p>
    <p class="text-md description-text">
      No es programar. Buscamos soluciones a problemas, inquietudes y
      necesidades. Creamos productos, experiencias, sensaciones, y todo eso lo
      hacemos a partir de una herramienta que es el código. Programar solo es el
      medio para lograr lo más importante. Somos artistas que por medio de
      nuestra herramienta transmitimos nuestras ideas a soluciones en el mundo
      real.
    </p>
  </div>
  <div class="images-wrapper">
    <img class="tech-image html-image" src="html.svg" />
    <img class="tech-image css-image" src="css.svg" />
    <img class="tech-image javascript-image" src="javascript.svg" />
    <img class="tech-image typescript-image" src="typescript.svg" />
    <img class="tech-image react-image" src="react.svg" />
    <img class="tech-image next-image" src="nextjs.svg" />
  </div>
</article>
<style>
  .development-box {
    margin-bottom: 6rem;
    padding: 4rem 2rem;
    position: relative;
    color: #fafafa;
    display: flex;
    flex-direction: column;
  }

  .development-box::after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 3rem 0.5rem #0d1b2d20;
    background-image: linear-gradient(
      35deg,
      #0d1b2d,
      #000 21%,
      #0d1b2d 50%,
      #000 75%,
      #0d1b2d
    );
  }

  .description-text {
    color: #94a3b8;
    line-height: 1.25;
  }

  .tech-image {
    background-image: linear-gradient(
      35deg,
      #0d1b2d,
      #000 21%,
      #0d1b2d 50%,
      #000 75%,
      #0d1b2d
    );
    width: 80px;
    height: 80px;

    border-radius: 0.5rem;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    right: 0;
    filter: grayscale(0.8);
    opacity: 0.8;
    box-shadow: -0.125rem 0.125rem 0rem 0.125rem #0d1b2d90;
    transform: rotateZ(-15deg) rotateX(15deg) rotateY(15deg) scale(1);
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }

  .tech-image:hover {
    filter: grayscale(0.2);
    opacity: 1;
    box-shadow: -0.125rem 0.125rem 0rem 0.125rem #0d1b2d;
    transform: rotateZ(-15deg) rotateX(15deg) rotateY(15deg) scale(1.1);
  }

  .html-image {
    top: 3rem;
    position: relative;
  }

  .css-image {
    top: 9rem;
    position: relative;
  }

  .javascript-image {
    top: 3rem;
    position: relative;
  }

  .react-image {
    top: 8rem;
    position: relative;
  }

  .next-image {
    top: 3rem;
    position: relative;
  }

  .typescript-image {
    top: 5rem;
    position: relative;
  }

  .images-wrapper {
    height: 6rem;
    position: relative;
    display: none;
    grid-template-columns: repeat(6, 1fr);
  }

  .text-heading {
    font-size: 1.5rem;
    max-width: 40ch;
  }

  @media (min-width: 480px) {
    .text-heading {
      font-size: 2rem;
      max-width: 40ch;
    }
  }

  @media (min-width: 640px) {
    .images-wrapper {
      display: grid;
    }
  }
  @media (min-width: 1024px) {
    .images-wrapper {
      height: 0rem;
      position: initial;
      display: block;
    }

    .development-box {
      padding: 6rem 2rem;
    }

    .html-image {
      position: absolute;
      top: -0.25rem;
      right: 1rem;
    }

    .css-image {
      position: absolute;
      top: -0.5rem;
      right: 9rem;
    }

    .javascript-image {
      position: absolute;
      top: 6rem;
      right: 8rem;
    }

    .react-image {
      position: absolute;
      top: 10rem;
      right: 1rem;
    }

    .next-image {
      position: absolute;
      top: 14rem;
      right: 8rem;
    }

    .typescript-image {
      position: absolute;
      top: 18rem;
      right: 1rem;
    }
  }

  @media (min-width: 1440px) {
    .html-image {
      right: -1rem;
    }

    .css-image {
      right: 6rem;
    }

    .javascript-image {
      right: 3rem;
    }

    .react-image {
      right: -3rem;
    }

    .next-image {
      right: 6rem;
    }

    .typescript-image {
      right: -1rem;
    }
  }
</style>
