.container {
  padding-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.avatar {
  border-radius: 50%;
  aspect-ratio: 1;
  width: 3rem;
}

.avatarContainer {
  aspect-ratio: 1;
  padding: 0.25rem;
  background: linear-gradient(
    45deg,
    #a8a29e,
    #78716c,
    #57534e,
    #44403c,
    #d6d3d1,
    #a8a29e
  );
  display: inline-flex;
  background-size: 800%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 0 0.25rem #a8a29e20;
  animation: growing 20s linear infinite;
}

@keyframes growing {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0% 0%;
  }
}

.name {
  font-size: 1.125rem;
  color: var(--color-background);
  background-color: var(--text-normal);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  position: relative;
}

.name::before {
  content: '';
  width: 0.5rem;
  aspect-ratio: 1;
  background-color: var(--text-normal);
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  left: -0.25rem;
  border-radius: 0 0 0 0.125rem;
}

.title {
  text-align: center;
  font-size: 4rem;
}

.description {
  text-align: center;
  color: var(--text-highlight);
  margin-top: 1rem;
  font-size: 1.125rem;
}

.socialMediaContentContainer {
  margin-top: 3rem;
}

.socialMediaDescription {
  text-align: center;
  color: var(--text-highlight);
  font-size: 1rem;
}

.socialMediaContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 2rem;
}

.socialMedia {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-highlight);
  text-decoration: none;
  font-size: 1.125rem;
  transition: color 0.2s;
  outline: none;
}

.socialMedia:focus-visible {
  box-shadow: 0 0 0 2px #00608d, 0 0 0 4px royalblue;
}

.socialMedia:hover {
  color: var(--text-normal);
}

.curriculumButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.divider {
  margin: 4rem 0;
}
