---
import '../styles/index.css'
import style from './Layout.module.css'
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta
      name="description"
      content="Desarrollo Frontend con JavaScript, TypeScript, React, Next.js, HTML y CSS! Soy Madeval y te cuento cosas increíbles sobre la Web! Ven a ver lo que tengo para contar 👀"
    />
    <meta name="generator" content={Astro.generator} />
    <title>
      Madeval ⚛️ | Desarrollo web JavaScript y React | Frontend Developer
    </title>
  </head>
  <body class={style.wrapper}>
    <slot />
  </body>
</html>
