---
import '~styles/index.css'
import style from './MainLayout.module.css'
import { MdxHeader } from 'src/types/mdx.types'
import MainHeader from '~components/MainHeader/MainHeader.astro'

interface Props {
  frontmatter?: MdxHeader
}

const { frontmatter } = Astro.props

const default_metadata = {
  title: 'madeval | Programación y Desarrollo Web',
  description:
    'Experiencia y conocimientos en Programación y Desarrollo Web de Mateo Álvarez, madeval.',
  keywords: 'programacion, desarrollo, javascript, typescript, react, frontend',
  twitterTitle:
    'madeval: Experiencia y conocimientos en Programación y Desarrollo Web',
  ogTitle:
    'madeval: Experiencia y conocimientos en Programación y Desarrollo Web',
  twitterImage: 'https://www.madeval.dev/og.webp',
  ogImage: 'https://www.madeval.dev/og.webp',
  twitterDescription:
    'Curriculum y recorido profesional, conoce lo que puedo aportar a tu equipo.',
  ogDescription:
    'Curriculum y recorido profesional, conoce lo que puedo aportar a tu equipo.',
}
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/madeval.webp" />
    <meta
      name="description"
      content={frontmatter?.description || default_metadata.description}
    />
    <meta
      name="keywords"
      content={frontmatter?.tags.join(', ') || default_metadata.keywords}
    />
    <meta name="author" content="Mateo Álvarez" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@maadeval" />
    <meta name="twitter:creator" content="@maadeval" />
    <meta
      name="twitter:title"
      content={frontmatter?.title || default_metadata.twitterTitle}
    />
    <meta
      name="twitter:description"
      content={frontmatter?.description || default_metadata.twitterDescription}
    />
    <meta
      name="twitter:image"
      content={frontmatter?.image || default_metadata.twitterImage}
    />
    <meta
      name="og:image"
      content={frontmatter?.image || default_metadata.ogImage}
    />
    <meta
      name="og:title"
      content={frontmatter?.title || default_metadata.ogTitle}
    />
    <meta
      name="og:description"
      content={frontmatter?.description || default_metadata.ogDescription}
    />
    <meta name="og:url" content="https://madeval.dev" />
    <meta name="og:site_name" content="Madeval" />
    <meta name="og:type" content="website" />
    <meta name="og:locale" content="es_ES" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <title>{frontmatter?.title || default_metadata.title}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link
      href="/fonts/inter-regular.woff2"
      rel="preload"
      type="font/woff2"
      as="font"
      fetchpriority="high"
      crossorigin
    />
    <link
      href="/fonts/inter-medium.woff2"
      rel="preload"
      type="font/woff2"
      as="font"
      fetchpriority="high"
      crossorigin
    />
    <link
      href="/fonts/inter-bold.woff2"
      rel="preload"
      type="font/woff2"
      as="font"
      fetchpriority="high"
      crossorigin
    />
    <script defer src="/_vercel/insights/script.js"></script>
  </head>
  <body class={style.container}>
    <MainHeader />
    <div class={style.background}></div>
    <slot />
  </body>
</html>

<style is:global>
  html {
    background-color: var(--color-background);
  }
</style>
