---
import '~styles/index.css'
import style from './MainLayout.module.css'
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/madeval.webp" />
    <meta
      name="description"
      content="Experiencia y conocimientos en Programación y Desarrollo Web de Mateo Álvarez, madeval."
    />
    <meta
      name="keywords"
      content="programacion, desarrollo, javascript, typescript, react, frontend"
    />
    <meta name="author" content="Mateo Álvarez" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@maadeval" />
    <meta name="twitter:creator" content="@maadeval" />
    <meta
      name="twitter:title"
      content="madeval: Experiencia y conocimientos en Programación y Desarrollo Web"
    />
    <meta
      name="twitter:description"
      content="Curriculum y recorido profesional, conoce lo que puedo aportar a tu equipo."
    />
    <meta name="twitter:image" content={'https://www.madeval.dev/og.webp'} />
    <meta name="og:image" content={'https://www.madeval.dev/og.webp'} />
    <meta
      name="og:title"
      content="madeval: Experiencia y conocimientos en Programación y Desarrollo Web"
    />
    <meta
      name="og:description"
      content="Curriculum y recorido profesional, conoce lo que puedo aportar a tu equipo."
    />
    <meta name="og:url" content="https://madeval.dev" />
    <meta name="og:site_name" content="Madeval" />
    <meta name="og:type" content="website" />
    <meta name="og:locale" content="es_ES" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <title>madeval | Programación y Desarrollo Web</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link
      href="/fonts/inter-regular.woff2"
      rel="preload"
      type="font/woff2"
      as="font"
      fetchpriority="high"
      crossorigin
    />
    <link
      href="/fonts/inter-medium.woff2"
      rel="preload"
      type="font/woff2"
      as="font"
      fetchpriority="high"
      crossorigin
    />
    <link
      href="/fonts/inter-bold.woff2"
      rel="preload"
      type="font/woff2"
      as="font"
      fetchpriority="high"
      crossorigin
    />
    <script defer src="/_vercel/insights/script.js"></script>
  </head>
  <body class={style.container}>
    <div class={style.background}></div>
    <slot />
  </body>
</html>

<style is:global>
  html {
    background-color: var(--color-background);
  }
</style>
