---
import LeftLongArrow from '~components/icons/LeftLongArrow.astro'

const { tags } = Astro.props.frontmatter
---

<div class="tagIconContainer">
  <a href="/" class="return-link"
    ><LeftLongArrow width={'1rem'} />Ir hacia atras</a
  >
  <picture class="tagIcon">
    <img src={`/${tags}.svg`} />
    <span>Artículo de {tags}</span>
  </picture>
</div>
<slot />

<style is:inline>
  .tagIconContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  .tagIcon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: max-content;
    padding: 0.5rem;
    box-sizing: content-box;
    border-radius: 0.5rem;
    background-color: var(--text-highlight-ghost);
  }

  .tagIcon > img {
    width: 1.5rem;
  }

  .return-link {
    color: var(--text-highlight);
    display: flex;
    align-items: center;
    gap: 0.25rem;
    text-decoration: none;
  }

  h1 {
    font-size: 3rem;
    font-family: var(--font-vidaloka);
    font-weight: 700;
    text-align: center;
    color: var(--text-normal);
    margin-bottom: 4rem;
  }

  h2 {
    font-size: 2rem;
    color: var(--text-normal);
    margin-bottom: 2rem;
    margin-top: 4rem;
  }

  code {
    background-color: var(--text-highlight-ghost);
    border-radius: 0.25rem;
    font-size: 0.875rem;
    border: 1px solid var(--border-gray);
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    display: inline-block;
  }

  pre > code {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    border: none;
    font-size: 1rem;
  }

  a {
    color: var(--text-normal);
  }

  p {
    color: var(--text-highlight);
    font-size: 1.05rem;
    line-height: 24px;
  }

  p ~ p {
    margin-top: 1rem;
  }

  [data-rehype-pretty-code-fragment] {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  pre {
    background-color: #faf1e4;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 1rem;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    font-size: 0.875rem;
  }

  blockquote {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    background-color: var(--green-light);
    border: 1px solid var(--green-medium);
  }

  pre > code .highlighted {
    background-color: var(--text-highlight-ghost);
  }

  [data-rehype-pretty-code-title] {
    font-size: 0.875rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem 0.25rem 0 0;
    background-color: #faf1e4;
    color: var(--text-highlight);
  }
</style>
