<article class="comunity-box">
  <div class="left-content">
    <p class="text-heading">
      Desarrollo hace más de dos años y <span class="borderline"
        >formo parte de una comunidad de desarrollo increíble!
        <!-- <tool-tip role="tooltip">Agregar contenido aqui</tool-tip> -->
      </span>
    </p>
    <p class="text-md">
      Lo más importante se hace en comunidad. Ser parte de un grupo de grandes
      personas y desarrolladores me motiva a ser mejor!
    </p>
  </div>
  <div class="brand-effect-wrapper">
    <div class="brand-effect">
      <img src="midu.svg" alt="Logo de Midudev" />
      <img src="discord.svg" alt="Logo de Discord" />
      <img src="twitter.svg" alt="Logo de Twitter" />
      <img src="midu.svg" alt="Logo de Midudev" />
      <img src="discord.svg" alt="Logo de Discord" />
      <img src="twitter.svg" alt="Logo de Twitter" />
      <img src="midu.svg" alt="Logo de Midudev" />
      <img src="discord.svg" alt="Logo de Discord" />
      <img src="twitter.svg" alt="Logo de Twitter" />
      <img src="midu.svg" alt="Logo de Midudev" />
      <img src="discord.svg" alt="Logo de Discord" />
      <img src="twitter.svg" alt="Logo de Twitter" />
      <img src="midu.svg" alt="Logo de Midudev" />
      <img src="discord.svg" alt="Logo de Discord" />
      <img src="twitter.svg" alt="Logo de Twitter" />
      <img src="midu.svg" alt="Logo de Midudev" />
      <img src="discord.svg" alt="Logo de Discord" />
      <img src="twitter.svg" alt="Logo de Twitter" />
      <img src="midu.svg" alt="Logo de Midudev" />
      <img src="discord.svg" alt="Logo de Discord" />
      <img src="twitter.svg" alt="Logo de Twitter" />
      <img src="midu.svg" alt="Logo de Midudev" />
      <img src="discord.svg" alt="Logo de Discord" />
      <img src="twitter.svg" alt="Logo de Twitter" />
      <img src="midu.svg" alt="Logo de Midudev" />
      <img src="discord.svg" alt="Logo de Discord" />
      <img src="twitter.svg" alt="Logo de Twitter" />
      <img src="midu.svg" alt="Logo de Midudev" />
      <img src="discord.svg" alt="Logo de Discord" />
      <img src="twitter.svg" alt="Logo de Twitter" />
      <img src="midu.svg" alt="Logo de Midudev" />
      <img src="discord.svg" alt="Logo de Discord" />
      <img src="twitter.svg" alt="Logo de Twitter" />
      <img src="midu.svg" alt="Logo de Midudev" />
      <img src="discord.svg" alt="Logo de Discord" />
      <img src="twitter.svg" alt="Logo de Twitter" />
      <img src="midu.svg" alt="Logo de Midudev" />
      <img src="discord.svg" alt="Logo de Discord" />
      <img src="twitter.svg" alt="Logo de Twitter" />
      <img src="midu.svg" alt="Logo de Midudev" />
      <img src="discord.svg" alt="Logo de Discord" />
      <img src="twitter.svg" alt="Logo de Twitter" />
      <img src="midu.svg" alt="Logo de Midudev" />
      <img src="discord.svg" alt="Logo de Discord" />
      <img src="twitter.svg" alt="Logo de Twitter" />
      <img src="midu.svg" alt="Logo de Midudev" />
      <img src="discord.svg" alt="Logo de Discord" />
      <img src="twitter.svg" alt="Logo de Twitter" />
      <img src="midu.svg" alt="Logo de Midudev" />
      <img src="discord.svg" alt="Logo de Discord" />
      <img src="twitter.svg" alt="Logo de Twitter" />
      <img src="midu.svg" alt="Logo de Midudev" />
      <img src="discord.svg" alt="Logo de Discord" />
      <img src="twitter.svg" alt="Logo de Twitter" />
      <img src="midu.svg" alt="Logo de Midudev" />
      <img src="discord.svg" alt="Logo de Discord" />
      <img src="twitter.svg" alt="Logo de Twitter" />
      <img src="midu.svg" alt="Logo de Midudev" />
      <img src="discord.svg" alt="Logo de Discord" />
      <img src="twitter.svg" alt="Logo de Twitter" />
      <img src="midu.svg" alt="Logo de Midudev" />
      <img src="discord.svg" alt="Logo de Discord" />
      <img src="twitter.svg" alt="Logo de Twitter" />
      <img src="midu.svg" alt="Logo de Midudev" />
      <img src="discord.svg" alt="Logo de Discord" />
      <img src="twitter.svg" alt="Logo de Twitter" />
      <img src="midu.svg" alt="Logo de Midudev" />
      <img src="discord.svg" alt="Logo de Discord" />
      <img src="twitter.svg" alt="Logo de Twitter" />
      <img src="midu.svg" alt="Logo de Midudev" />
      <img src="discord.svg" alt="Logo de Discord" />
      <img src="twitter.svg" alt="Logo de Twitter" />
    </div>
  </div>
  <span class="bg-rgb"></span>
</article>
<style>
  .comunity-box {
    margin-top: 20rem;
    margin-bottom: 16rem;
    background-color: #fafafa;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
  }

  .left-content {
    padding: 4rem 2rem;
    position: relative;
  }

  .borderline {
    border-bottom: 2px solid #0d1b2d20;
    cursor: help;
    position: relative;
  }

  .borderline:hover [role='tooltip'] {
    opacity: 1;
    visibility: visible;
  }

  .brand-effect-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 3rem;
  }

  .brand-effect-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      35deg,
      #fa0,
      #fd66cb 21%,
      #9f6eff 50%,
      #0af 75%,
      #0fa
    );
    filter: blur(32px);
    opacity: 0.5;
  }

  [role='tooltip'] {
    position: absolute;
    top: -0.5rem;
    transform: translateY(-100%);
    width: max-content;
    left: 0;
    padding: 0.5rem 1rem;
    background-color: #0d1b2d;
    color: #fafafa;
    border-radius: 0.5rem;
    font-size: 1rem;
    visibility: hidden;
    pointer-events: none;
    user-select: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  }

  .bg-rgb {
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    opacity: 0.5;
    background-image: linear-gradient(
      35deg,
      #fa0,
      #fd66cb 21%,
      #9f6eff 50%,
      #0af 75%,
      #0fa
    );
    z-index: -1;
    filter: blur(32px);
  }

  .brand-effect {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    transform: translate(41px, -14px) rotate(2deg);
    position: absolute;
    top: 0;
    right: 0;
    width: 120%;
    height: 100%;
  }

  .brand-effect img {
    opacity: 0.1;
    width: 48px;
    height: 48px;
    filter: grayscale(1);
    transition: opacity 0.2s ease-in-out 1s, filter 0.2s ease-in-out 1s;
  }

  .brand-effect img:hover {
    opacity: 0.4;
    filter: grayscale(0.2);
    transition: opacity 0.2s ease-in-out 0s, filter 0.2s ease-in-out 0s;
  }

  .text-heading {
    font-size: 1.5rem;
    max-width: 100%;
  }

  .text {
    max-width: 100%;
    position: relative;
    margin-top: 2rem;
    font-size: 1.25rem;
    color: #64748b;
  }

  @media (min-width: 480px) {
    .text-heading {
      font-size: 2rem;
    }
  }

  @media (min-width: 1024px) {
    .comunity-box {
      grid-template-columns: 1fr 30%;
    }

    .brand-effect-wrapper {
      height: 100%;
    }

    .text-heading {
      max-width: 40ch;
    }

    .text {
      max-width: 60ch;
    }

    .left-content {
      padding: 6rem 2rem;
    }
  }
</style>
